*{
    padding:0;
    margin:0; 
    

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: green;
     

}
.form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
    outline: none;
    font-size: 18px;


}
#text {
    visibility: hidden;
    color: red;
    padding: 15px 2px;
    font-variant: small-caps;
    font-size: 25px;

}
